/*center logo and reduce white space*/
*,
*::before,
*::after {
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium';

}
body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url('Assets/Orange\ Colorful\ Juice\ Drink\ Product\ Logo\ \(2\).png');
    
}

.button{
   border-radius: 5px;
   background-color: lightsalmon;
   font-size: large;
    
}

.btn-grid{
    display: grid;
    gap: 25px;
    position: relative;
    padding: 20px 46px;
    margin-bottom: 30px;
}

.container {
    width: 800px;
    max-width: 75%;
    border: 2px solid lightblue ;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 0 10px 5px lightpink ;
    background-color: lightcyan;
   
  }
  .start-button{
      font-size: medium;
      background-color: lightsalmon;
      font-weight: bold;
      padding: 10px 20px;
  }

  .next-button{
      font-size: medium;
  }
 
 #question {
     font-size: 24px;
 }

 .controls{
     display: flex;
     justify-content: center;
     align-items: center;

 }

 .hide{
     display: none;
 };

